{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ index_info.title }}{% endblock %}
{% block description %}{{ index_info.description }}{% endblock %}
{% block keywords %}{{ index_info.keywords }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
{% endblock %}
{% block body %}
    <body class="single is-preload">
{% endblock %}
{% block content-index %}
    <div class="sidebar">
        <div class="container">
            <ul>
                <li class="active">
                    <a href="#">Company Introduction</a>
                </li>
                <li>
                    <a href="{% url 'other:Factory' %}">Factory</a>
                </li>
                <li>
                    <a href="{% url 'other:Video' %}">Video</a>
                </li>
                <li>
                    <a href="{% url 'other:Customer' %}">Customer</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrap wrap-about">
    <div class="container">
        <div class="title-in">
            <h2>{{ company_info.name }}</h2>
            <p></p>
        </div>

        <div class="text">
            {{ company_info.detail|safe }}
        </div>
    </div>
{% endblock %}
{% block left-content %}
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
                href="http://unsplash.com">Unsplash</a>.</p>
    </section>

{% endblock %}


{% block js %}
    <script src="/static/JS/main_.js"></script>
{% endblock %}