{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ index_info.title }}{% endblock %}
{% block description %}{{ index_info.description }}{% endblock %}
{% block keywords %}{{ index_info.keywords }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
{% endblock %}
{% block body %}
    <body class="single is-preload">
{% endblock %}
{% block content-index %}
    <div class="sidebar">
        <div class="container">
            <ul>
                <li>
                    <a href="{% url 'other:CompanyIntroduction' %}">{% trans 'Company Introduction' %}</a>
                </li>
                <li>
                    <a href="{% url 'other:Factory' %}">{% trans 'Factory' %}</a>
                </li>
                <li>
                    <a href="{% url 'other:Video' %}">{% trans 'Video' %}</a>
                </li>
                <li class="active">
                    <a href="#">{% trans 'Customer' %}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrap wrap-factory">
        <div class="container">
            <div class="title-in">
                <h2>{% trans 'Customer' %}</h2>
                <p>{{ page_info.customer_info }}</p>
            </div>

            <div class="row">
                {% for customer in all_customer.object_list %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="item">
                            <a class="img-box"
                               href="{{ MEDIA_URL }}{{ customer.image }}"
                               rel="fancybox-product" title="Canton Fair">
                                <img class="lazy"
                                     data-src="{{ MEDIA_URL }}{{ customer.image }}"
                                     alt="Canton Fair"
                                     src="{{ MEDIA_URL }}{{ customer.image }}"
                                     style="display: block;">
                            </a>
                            <p>{{ customer.title }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <ul class="pager">
                {% if all_customer.has_previous %}
                    <li><a href="?{{ all_customer.previous_page_number.querystring }}">&laquo;{% trans 'PREVIOUS PAGE' %}</a></li>
                {% else %}
                    <li><a class="disabled"><span>&laquo;{% trans 'PREVIOUS PAGE' %}</span></a></li>
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if all_customer.has_next %}
                    <li><a href="?{{ all_customer.next_page_number.querystring }}">{% trans 'NEXT PAGE' %}&raquo;</a></li>
                {% else %}
                    <li><a class="disabled"><span>{% trans 'NEXT PAGE' %}&raquo;</span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block left-content %}
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
                href="http://unsplash.com">Unsplash</a>.</p>
    </section>

{% endblock %}


{% block js %}
    <script src="/static/JS/main_.js"></script>
{% endblock %}