{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ index_info.title }}{% endblock %}
{% block description %}{{ index_info.description }}{% endblock %}
{% block keywords %}{{ index_info.keywords }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block body %}
    <body class="single is-preload">
{% endblock %}
{% block content-index %}
    <div class="sidebar">
        <div class="container">
            <ul>
                <li>
                    <a href="{% url 'other:CompanyIntroduction' %}">{% trans 'Company Introduction' %}</a>
                </li>
                <li>
                    <a href="{% url 'other:Factory' %}">{% trans 'Factory' %}</a>
                </li>
                <li>
                    <a href="{% url 'other:Video' %}">{% trans 'Video' %}</a>
                </li>
                <li class="active">
                    <a href="#">{% trans 'Customer' %}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrap wrap-factory">
        <div class="container">
            <div class="title-in">
                <h2>{% trans 'Customer' %}</h2>
                <p>{{ page_info|safe }}</p>
            </div>

            <div class="row">
                {% for customer in all_customer.object_list %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="item">
                            <a class="img-box"
                               href="{{ MEDIA_URL }}{{ customer.image }}"
                               rel="fancybox-product" title="Canton Fair">
                                <img class="lazy"
                                     data-src="{{ MEDIA_URL }}{{ customer.image }}"
                                     alt="Canton Fair"
                                     src="{{ MEDIA_URL }}{{ customer.image }}"
                                     style="display: block;">
                            </a>
                            <p>{{ customer.title }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <ul class="pager">
                {% if all_customer.has_previous %}
                    <li>
                        <a href="?{{ all_customer.previous_page_number.querystring }}">&laquo;{% trans 'PREVIOUS PAGE' %}</a>
                    </li>
                {% else %}
                    <li><a class="disabled"><span>&laquo;{% trans 'PREVIOUS PAGE' %}</span></a></li>
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if all_customer.has_next %}
                    <li><a href="?{{ all_customer.next_page_number.querystring }}">{% trans 'NEXT PAGE' %}&raquo;</a>
                    </li>
                {% else %}
                    <li><a class="disabled"><span>{% trans 'NEXT PAGE' %}&raquo;</span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <style>
        #footer .links a {
            display: block !important;
            color: #7e7e7e;
        }
    </style>
    <div id="footer-wrapper"
         style="width: 100%;padding: 60px 60px 200px 60px;background-color: #303030;text-decoration: none;border-radius: 25px;">
        <footer id="footer" class="">
            <div class="row">
                <div class="col-3 col-6-medium col-12-small">
                    <!-- Links -->
                    <section class="widget links">
                        <h3 style="color: white;">ABOUT US</h3>
                        <a href="{% url 'other:CompanyIntroduction' %}">Company Introduction</a>
                        <a href="{% url 'other:Factory' %}">Factory</a>
                        <a href="{% url 'other:Video' %}">Video</a>
                        <a href="{% url 'other:Customer' %}">Customer</a>
                    </section>
                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Links -->
                    <section class="widget links">
                        <h3 style="color: white;">PRODUCT</h3>
                        {% for i in all_series %}
                            <a href="{% url 'goods:ProductsList' %}?sid={{ i.id }}">{{ i.name }}</a>

                        {% endfor %}
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">
                    <!-- Links -->
                    <section class="widget links">
                        <h3 style="color: white;">OUR BRANDS</h3>
                        {% for i in all_brands %}
                            <a href="http://{{ i.url }}">{{ i.name }}</a>
                        {% endfor %}
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Contact -->
                    <section class="widget links">
                        <h3 style="color: white;">CONTACT</h3>
                        <ul class="icons">
                            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                        </ul>
                        <span style="color: white;">Address:&nbsp;</span><p style="color: #7e7e7e;">{{ com_info.addr }}</p>
                        <span style="color: white;">Tel:&nbsp;
                            <a>{{ com_info.tel }}</a>
                        </span>
                        <span style="color: white;">Email:&nbsp;
                            <a>{{ com_info.email }}</a>
                        </span>
                        <span style="color: white;">Website:&nbsp;
                            <a href="http://{{ com_info.web }}">{{ com_info.web }}</a>
                        </span>
                    </section>

                </div>
            </div>

        </footer>
    </div>

{% endblock %}
{% block left-content %}


{% endblock %}


{% block js %}
    <script>
    $(function () {
        $('.change_language').change(function (e) {
                e.preventDefault();
                $('#change_form').submit();
                return false;
            });
    })
    </script>
    <script src="{% static 'js/main_.js' %}"></script>
{% endblock %}