{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ index_info.title }}{% endblock %}
{% block description %}{{ index_info.description }}{% endblock %}
{% block keywords %}{{ index_info.keywords }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
{% endblock %}
{% block body %}
    <body class="single is-preload">
{% endblock %}
{% block content-index %}
    <div class="sidebar">
        <div class="container">
            <ul>
                <li>
                    <a href="{% url 'other:CompanyIntroduction' %}">Company Introduction</a>
                </li>
                <li class="active">
                    <a href="#">Factory</a>
                </li>
                <li>
                    <a href="{% url 'other:Video' %}">Video</a>
                </li>
                <li>
                    <a href="{% url 'other:Customer' %}">Customer</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrap wrap-factory">
        <div class="container">
            <div class="title-in">
                <h2>Factory</h2>
                <p>{{ page_info.factory_info }}</p>
            </div>

            <div class="row">
                {% for factory in all_factory.object_list %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="item">
                            <a class="img-box"
                               href="{{ MEDIA_URL }}{{ factory.image }}"
                               rel="fancybox-product" title="Workshop">
                                <img
                                        alt="Workshop"
                                        src="{{ MEDIA_URL }}{{ factory.image }}"
                                        style="display: block;">
                            </a>
                            <p>{{ factory.title }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <ul class="pager">
            {% if all_factory.has_previous %}
                <li><a href="?{{ all_factory.previous_page_number.querystring }}">&laquo;PREVIOUS PAGE</a></li>
            {% else %}
                <li><a class="disabled"><span>&laquo;PREVIOUS PAGE</span></a></li>
            {% endif %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if all_factory.has_next %}
                <li><a href="?{{ all_factory.next_page_number.querystring }}">NEXT PAGE&raquo;</a></li>
            {% else %}
                <li><a class="disabled"><span>NEXT PAGE&raquo;</span></a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block left-content %}
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
        </ul>

    </section>

{% endblock %}


{% block js %}
    <script src="{% static 'JS/main_.js' %}"></script>
{% endblock %}