{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} News {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
{% endblock %}
{% block body %}
    <body class="single is-preload">
{% endblock %}
{% block content-index %}
    <div class="sidebar">
        <div class="container">
            <ul>
                <li class="active">
                    <a href="#">公司新闻</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrap wrap-news-show">
        <div class="container">
            <div class="news-title">
                <h3>
                    {{ news.title }}
                </h3>
                <span>
                    {{ news.add_time }}
                </span>
            </div>

            <div class="text">
                {{ news.detail|safe }}
            </div>

            <ul class="pager">
                {% if pnews %}
                    <li class="previous"><a href="{% url 'other:NewsDetail' pnews.id %}">&laquo;{{ pnews.title }}</a></li>
                {% endif %}
                {% if nnews %}
                    <li class="next"><a href="{% url 'other:NewsDetail' nnews.id %}">{{ nnews.title }}&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block left-content %}
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
                href="http://unsplash.com">Unsplash</a>.</p>
    </section>

{% endblock %}


{% block js %}
    <script src="/static/JS/main_.js"></script>
{% endblock %}