{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ index_info.title }}{% endblock %}
{% block description %}{{ index_info.description }}{% endblock %}
{% block keywords %}{{ index_info.keywords }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block body %}
    <body class="single is-preload">
{% endblock %}
{% block content-index %}
    <div id="heard-photo" class="heard-photo"></div>
    <div class="sidebar">
        <div class="container">
            <ul>
                <li class="active">
                    <a href="#">{% trans 'Company News' %}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrap wrap-news-show">
        <div class="container">
            <div class="news-title">
                <h3>
                    {{ news.title }}
                </h3>
                <span>
                    {{ news.add_time }}
                </span>
            </div>

            <p class="text">
                {{ news.detail|safe }}
            </p>

            <ul class="pager">
                {% if pnews %}
                    <li class="previous"><a href="{% url 'company:NewsDetail' pnews.id %}">&laquo;{{ pnews.title }}</a>
                    </li>
                {% endif %}
                {% if nnews %}
                    <li class="next"><a href="{% url 'company:NewsDetail' nnews.id %}">{{ nnews.title }}&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <style>
        #footer .links a {
            display: block !important;
            color: #7e7e7e;
        }
    </style>
    <div id="footer-wrapper"
         style="width: 100%;padding: 40px 60px 100px 60px;background-color: #303030;text-decoration: none;margin: 60px 0 0 0;">
        <footer id="footer" class="">
            <div class="row">
                <div class="col-3 col-6-medium col-12-small">
                    <!-- Links -->
                    <section class="widget links">
                        <h3 style="color: white;">ABOUT US</h3>
                        <a href="{% url 'company:CompanyIntroduction' %}">Company Introduction</a>
                        <a href="{% url 'company:Factory' %}">Factory</a>
                        <a href="{% url 'company:Video' %}">Video</a>
                        <a href="{% url 'company:Customer' %}">Customer</a>
                    </section>
                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Links -->
                    <section class="widget links">
                        <h3 style="color: white;">PRODUCT</h3>
                        {% for i in all_series %}
                            <a href="{% url 'goods:ProductsList' %}?sid={{ i.id }}">{{ i.name }}</a>

                        {% endfor %}
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">
                    <!-- Links -->
                    <section class="widget links">
                        <h3 style="color: white;">OUR BRANDS</h3>
                        {% for i in all_brands %}
                            <a href="http://{{ i.url }}">{{ i.name }}</a>
                        {% endfor %}
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Contact -->
                    <section class="widget links">
                        <h3 style="color: white;">CONTACT</h3>
                        <ul class="icons">
                            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                        </ul>

                        <span style="color: white;">Tel:&nbsp;
                            <a>{{ com_info.tel }}</a>
                        </span>
                        <span style="color: white;">Email:&nbsp;
                            <a>{{ com_info.email }}</a>
                        </span>
                        <span style="color: white;">Website:&nbsp;
                            <a href="http://{{ com_info.web }}">{{ com_info.web }}</a>
                        </span>
                        <span style="color: white;">Address:&nbsp;</span><p style="color: #7e7e7e;">{{ com_info.addr }}</p>
                    </section>

                </div>
            </div>

        </footer>
    </div>

{% endblock %}
{% block left-content %}


{% endblock %}


{% block js %}
    <script>
    $(function () {
        $('.change_language').change(function (e) {
                e.preventDefault();
                $('#change_form').submit();
                return false;
            });
    })
    </script>
    <script src="{% static 'js/main_.js' %}"></script>
{% endblock %}