{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ index_info.title }}{% endblock %}
{% block description %}{{ index_info.description }}{% endblock %}
{% block keywords %}{{ index_info.keywords }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
{% endblock %}
{% block body %}
    <body class="single is-preload">
{% endblock %}
{% block content-index %}
    <div class="sidebar">
        <div class="container">
            <ul>
                <li class="active">
                    <a href="#">{% trans 'Company News' %}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrap wrap-news">
    <div class="container">
        <div class="title-in">
            <h2>{% trans 'News' %}</h2>
            <p>{{ page_info.news_info }}</p>
        </div>

        <div class="row waterfall">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding">
                {% for news in all_news.object_list %}
                    <div class="item">
                        <div class="pic">
                            <a href="{% url 'other:NewsDetail' news.id %}">
                                <img src="{{ MEDIA_URL }}{{ news.image }}"
                                     style="display: inline;">
                            </a>
                            <a class="date" href="#">
                                {{ news.add_time }}
                            </a>
                        </div>
                        <div class="note">
                            <h3><a href="{% url 'other:NewsDetail' news.id %}"
                                   title="{{ news.title }}">{{ news.title }}</a>
                            </h3>
                            <p><a href="{% url 'other:NewsDetail' news.id %}"></a></p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        </div>
        <ul class="pager">
            {% if all_news.has_previous %}
                <li><a href="?{{ all_news.previous_page_number.querystring }}">&laquo;{% trans 'PREVIOUS PAGE' %}</a></li>
            {% else %}
                <li><a class="disabled"><span>&laquo;{% trans 'PREVIOUS PAGE' %}</span></a></li>
            {% endif %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if all_news.has_next %}
                <li><a href="?{{ all_news.next_page_number.querystring }}">{% trans 'NEXT PAGE' %}&raquo;</a></li>
            {% else %}
                <li><a class="disabled"><span>{% trans 'NEXT PAGE' %}&raquo;</span></a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block left-content %}
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
        </ul>

    </section>

{% endblock %}


{% block js %}
    <script src="{% static 'JS/main_.js' %}"></script>
{% endblock %}