{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} DETAIL-GOODS {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
{% endblock %}
{% block body %}
    <body class="single is-preload">
{% endblock %}

{% block content-index %}

    <div class="wrap wrap-product-show">
        <div class="container">
            <div class="location">
                <a href="/">HOME</a>
                <a href="{% url 'ProductsList' %}">PRODUCTS</a>
                <a href="{% url 'ProductsList' %}?sid={{ sid }}&cid={{ cid }}">{{ sname }}&nbsp;{{ cname }}</a>
            </div>

            <div class="pro-show">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-5">
                        <div class="album">
                            <div id="sync1" class="sync1 owl-carousel owl-theme" style="opacity: 1; display: block;">
                                <div id="myCarousel" class="carousel slide">
                                    <div class="carousel-inner">
                                        <ol class="carousel-indicators">
                                            {% for banner in goods_banners %}
                                                {% if banner.index == 0 %}
                                                    <li data-target="#myCarousel" data-slide-to="{{ banner.index }}"
                                                        class="active"></li>
                                                {% else %}
                                                    <li data-target="#myCarousel"
                                                        data-slide-to="{{ banner.index }}"></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ol>
                                        {% for banner in goods_banners %}
                                            {% if banner.index == 0 %}
                                                <div class="item active">
                                                    <a href="{{ banner.url }}">
                                                        <img src="{{ MEDIA_URL }}{{ banner.image }}" alt=""
                                                             width="100%">
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="item">
                                                    <a href="{{ banner.url }}">
                                                        <img src="{{ MEDIA_URL }}{{ banner.image }}" alt=""
                                                             width="100%">
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <a href="#myCarousel" data-slide="prev" class="carousel-control left"><!-- ‹ -->
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a><!-- 左箭头 -->
                                        <a href="#myCarousel" data-slide="next" class="carousel-control right">
                                            <!-- › -->
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a><!-- 右箭头 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 col-lg-7">
                        <div class="text">
                            <div class="int-title">
                                <h3>{{ goods.goods_sn }}</h3>
                                <span>{{ goods.name }}</span>
                            </div>
                            <div class="info">
                                {{ goods.desc }}
                            </div>
                            <div class="link">
                                <a class="inquire" href="#inquiry">Inquire Now</a>
                            </div>
                            <div class="share">
                                <h4>Like this page? Share it with your friends!</h4>
                                <div class="addthis_inline_share_toolbox"
                                     data-url="http://www.oradarstorage.com/rustic-wood-coffee-table-breakfast-tray.html"
                                     data-title="multipurpose wood tray with a decorative rustic finish"
                                     style="clear: both;">
                                    <div id="atstbx2"
                                         class="at-resp-share-element at-style-responsive addthis-smartlayers addthis-animated at4-show"
                                         aria-labelledby="at-e512b857-762e-488d-8c11-f32148e4075b" role="region">
                                        <span id="at-e512b857-762e-488d-8c11-f32148e4075b" class="at4-visually-hidden">AddThis Sharing Buttons</span>
                                        <div class="at-share-btn-elements"><a role="button" tabindex="1"
                                                                              class="at-icon-wrapper at-share-btn at-svc-facebook"
                                                                              style="background-color: rgb(59, 89, 152); border-radius: 20px;"><span
                                                class="at-icon-wrapper"
                                                style="line-height: 16px; height: 16px; width: 16px;"><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
                                                version="1.1" role="img" aria-labelledby="at-svg-facebook-1"
                                                class="at-icon at-icon-facebook"
                                                style="fill: rgb(255, 255, 255); width: 16px; height: 16px;"><title
                                                id="at-svg-facebook-1">Facebook</title><g><path
                                                d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z"
                                                fill-rule="evenodd"></path></g></svg></span><span class="at-label"
                                                                                                  style="font-size: 10.2px; line-height: 16px; height: 16px; color: rgb(255, 255, 255);">Facebook</span></a><a
                                                role="button" tabindex="1"
                                                class="at-icon-wrapper at-share-btn at-svc-twitter"
                                                style="background-color: rgb(29, 161, 242); border-radius: 20px;"><span
                                                class="at-icon-wrapper"
                                                style="line-height: 16px; height: 16px; width: 16px;"><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
                                                version="1.1" role="img" aria-labelledby="at-svg-twitter-2"
                                                class="at-icon at-icon-twitter"
                                                style="fill: rgb(255, 255, 255); width: 16px; height: 16px;"><title
                                                id="at-svg-twitter-2">Twitter</title><g><path
                                                d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336"
                                                fill-rule="evenodd"></path></g></svg></span><span class="at-label"
                                                                                                  style="font-size: 10.2px; line-height: 16px; height: 16px; color: rgb(255, 255, 255);">Twitter</span></a><a
                                                role="button" tabindex="1"
                                                class="at-icon-wrapper at-share-btn at-svc-print"
                                                style="background-color: rgb(115, 138, 141); border-radius: 20px;"><span
                                                class="at-icon-wrapper"
                                                style="line-height: 16px; height: 16px; width: 16px;"><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
                                                version="1.1" role="img" aria-labelledby="at-svg-print-3"
                                                class="at-icon at-icon-print"
                                                style="fill: rgb(255, 255, 255); width: 16px; height: 16px;"><title
                                                id="at-svg-print-3">Print</title><g><path
                                                d="M24.67 10.62h-2.86V7.49H10.82v3.12H7.95c-.5 0-.9.4-.9.9v7.66h3.77v1.31L15 24.66h6.81v-5.44h3.77v-7.7c-.01-.5-.41-.9-.91-.9zM11.88 8.56h8.86v2.06h-8.86V8.56zm10.98 9.18h-1.05v-2.1h-1.06v7.96H16.4c-1.58 0-.82-3.74-.82-3.74s-3.65.89-3.69-.78v-3.43h-1.06v2.06H9.77v-3.58h13.09v3.61zm.75-4.91c-.4 0-.72-.32-.72-.72s.32-.72.72-.72c.4 0 .72.32.72.72s-.32.72-.72.72zm-4.12 2.96h-6.1v1.06h6.1v-1.06zm-6.11 3.15h6.1v-1.06h-6.1v1.06z"></path></g></svg></span><span
                                                class="at-label"
                                                style="font-size: 10.2px; line-height: 16px; height: 16px; color: rgb(255, 255, 255);">Print</span></a><a
                                                role="button" tabindex="1"
                                                class="at-icon-wrapper at-share-btn at-svc-compact"
                                                style="background-color: rgb(255, 101, 80); border-radius: 20px;"><span
                                                class="at-icon-wrapper"
                                                style="line-height: 16px; height: 16px; width: 16px;"><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32"
                                                version="1.1" role="img" aria-labelledby="at-svg-addthis-4"
                                                class="at-icon at-icon-addthis"
                                                style="fill: rgb(255, 255, 255); width: 16px; height: 16px;"><title
                                                id="at-svg-addthis-4">AddThis</title><g><path
                                                d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z" fill-rule="evenodd"></path></g></svg></span><span
                                                class="at-label"
                                                style="font-size: 10.2px; line-height: 16px; height: 16px; color: rgb(255, 255, 255);">More</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="parameter">
                <div class="pro-title">
                    <h3>Table Parameter</h3>
                </div>
                <div class="text">
                    {% for attr in goods_attrs %}
                        <p>{{ attr }}</p>
                    {% endfor %}

                    <p><br></p>
                </div>
                {{ goods.detail|safe }}
            </div>

            <div class="inquiry" id="inquiry">
                <div class="pro-title">
                    <h3>Inquire Now</h3>
                </div>
                <div class="note">
                    <p>If you have any questions, feedback or comments, please fill out the form below and we will reply
                        you back as soon as possible.</p>
                    <p>* Required field.</p>
                    <form class="row feedback-form" onsubmit="return false;" method="post">
                        {% csrf_token %}
                        <div class="col-xs-12 read">
                            <input type="text" value="{{ goods.goods_sn }}" readonly="" name="inquire"
                                   style="background-color: rgb(246, 244, 236);">
                        </div>
                        <div class="col-xs-12 col-md-6 text">
                            <input type="text" placeholder="name" name="name"
                                   style="background-color: rgb(246, 244, 236);">
                        </div>
                        <div class="col-xs-12 col-md-6 text">
                            <input type="text" placeholder="phone" name="phone"
                                   style="background-color: rgb(246, 244, 236);">
                        </div>
                        <div class="col-xs-12 col-md-6 text">
                            <input type="text" placeholder="email＊" name="email"
                                   style="background-color: rgb(246, 244, 236);">
                        </div>
                        <div class="col-xs-12 col-md-6 text">
                            <input type="text" placeholder="address" name="address"
                                   style="background-color: rgb(246, 244, 236);">
                        </div>
                        <div class="col-xs-12">
                            <textarea name="message" rows="6" placeholder="message＊"
                                      style="background-color: rgb(246, 244, 236);"></textarea>
                        </div>
                        <div class="col-xs-12">
                            <input type="hidden" name="id" value="{{ goods.id }}" style="background-color: rgb(246, 244, 236);">
                            <button class="send submit"><span>SUBMIT</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="main"></div>

{% endblock %}

{% block left-content %}
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
                href="http://unsplash.com">Unsplash</a>.</p>
    </section>

{% endblock %}


{% block js %}
    <script src="/static/JS/main_.js"></script>
{% endblock %}