{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ goods.title }}{% endblock %}
{% block description %}{{ goods.description }}{% endblock %}
{% block keywords %}{{ goods.keywords }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block body %}
    <body class="single is-preload">
{% endblock %}

{% block content-index %}
    <div class="wrap wrap-product-show">
        <div class="container">
            <div class="location">
                <a style="text-decoration : none;" href="{% url 'index' %}">{% trans 'HOME' %}</a>
                <a style="text-decoration : none;" href="{% url 'goods:ProductsList' %}">{% trans 'PRODUCTS' %}</a>
                <a style="text-decoration : none;"
                   href="{% url 'goods:ProductsList' %}?sid={{ sid }}&cid={{ cid }}">{{ sname }}&nbsp;{{ cname }}</a>
            </div>

            <div class="pro-show">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-5">
                        <div class="album">
                            <div id="sync1" class="sync1 owl-carousel owl-theme" style="opacity: 1; display: block;">
                                <div id="myCarousel" class="carousel slide">
                                    <div class="carousel-inner">
                                        <ol class="carousel-indicators">
                                            {% for banner in goods_banners %}
                                                {% if banner.index == 0 %}
                                                    <li data-target="#myCarousel" data-slide-to="{{ banner.index }}"
                                                        class="active"></li>
                                                {% else %}
                                                    <li data-target="#myCarousel"
                                                        data-slide-to="{{ banner.index }}"></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ol>
                                        {% for banner in goods_banners %}
                                            {% if banner.index == 0 %}
                                                <div class="item active">
                                                    <a href="{{ banner.url }}">
                                                        <img src="{{ MEDIA_URL }}{{ banner.image }}"
                                                             alt="{{ banner.alt }}" title="{{ banner.title }}"
                                                             width="100%">
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="item">
                                                    <a href="{{ banner.url }}">
                                                        <img src="{{ MEDIA_URL }}{{ banner.image }}"
                                                             alt="{{ banner.alt }}" title="{{ banner.title }}"
                                                             width="100%">
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <a href="#myCarousel" data-slide="prev" class="carousel-control left"><!-- ‹ -->
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a><!-- 左箭头 -->
                                        <a href="#myCarousel" data-slide="next" class="carousel-control right">
                                            <!-- › -->
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a><!-- 右箭头 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 col-lg-7">
                        <div class="text">
                            <div class="int-title">
                                <h3>{{ goods.goods_sn }}</h3>
                                <span>{{ goods.name }}</span>
                            </div>
                            <div class="info">
                                <p>{{ goods.desc }}</p>
                                <p>{{ goods.desc }}</p><br>
                                <p style="font-weight: bold;">Partial Parameter:</p>
                                {% for attr in goods_attrs %}
                                    <p>
                                        <span style="color: orange;font-weight: bold;font-size: 18px;">
                                            {{ attr.name }}
                                        </span>
                                        :&nbsp;
                                        <span style="font-size: 16px;">
                                            {{ attr.value }}
                                        </span>
                                    </p>
                                {% endfor %}
                            </div>
                            <div class="link">
                                <a class="inquire" href="#inquiry">{% trans 'Inquire Now' %}</a>
                            </div>
                            <div class="share">
                                <h4>{% trans 'Like this page? Share it with your friends!' %}</h4>
                                <div class="addthis_inline_share_toolbox"
                                     data-url="http://www.oradarstorage.com/rustic-wood-coffee-table-breakfast-tray.html"
                                     data-title="multipurpose wood tray with a decorative rustic finish"
                                     style="clear: both;">
                                    <div id="atstbx2"
                                         class="at-resp-share-element at-style-responsive addthis-smartlayers addthis-animated at4-show"
                                         aria-labelledby="at-e512b857-762e-488d-8c11-f32148e4075b" role="region">
                                        <ul class="icons">
                                            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a>
                                            </li>
                                            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a>
                                            </li>
                                            <li><a href="#" class="fa-instagram"><span
                                                    class="label">Instagram</span></a></li>
                                            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                                            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="parameter">
                <div class="pro-title">
                    <h3>{% trans 'Table Parameter' %}</h3>
                </div>
                <div class="text">

                    <p><br></p>
                </div>
                <div style="font-size: 20px;">
                    {{ goods.detail|safe }}
                </div>
            </div>

            <div class="inquiry" id="inquiry">
                <div class="pro-title">
                    <h3>{% trans 'Inquire Now' %}</h3>
                </div>
                <div class="note">
                    <p>{% trans 'If you have any questions, feedback or comments, please fill out the form below and we will reply you back as soon as possible.' %}</p>
                    <p>* {% trans 'Required field.' %}</p>
                    <form class="row feedback-form" onsubmit="return false;" method="post">
                        <div class="col-xs-12 read">
                            <input type="text" value="{{ goods.goods_sn }}" readonly="readonly" name="inquire"
                                   style="background-color: rgb(246, 244, 236);">
                        </div>
                        <div class="col-xs-12 col-md-6 text">
                            <input type="text" placeholder="{% trans 'Name' %}" name="name"
                                   style="background-color: rgb(246, 244, 236);">
                        </div>
                        <div class="col-xs-12 col-md-6 text">
                            <input type="text" placeholder="{% trans 'Phone' %}" name="phone"
                                   style="background-color: rgb(246, 244, 236);">
                        </div>
                        <div class="col-xs-12 col-md-6 text">
                            <input type="text" placeholder="{% trans 'Email' %} *" name="email"
                                   style="background-color: rgb(246, 244, 236);">
                        </div>
                        <div class="col-xs-12 col-md-6 text">
                            <input type="text" placeholder="{% trans 'Address' %}" name="address"
                                   style="background-color: rgb(246, 244, 236);">
                        </div>
                        <div class="col-xs-12">
                            <textarea name="message" rows="6" placeholder="{% trans 'Message' %} *"
                                      style="background-color: rgb(246, 244, 236);"></textarea>
                        </div>
                        <div class="col-xs-12">
                            <input type="hidden" name="id" value="{{ goods.id }}"
                                   style="background-color: rgb(246, 244, 236);">
                            <button class="send submit"><span>{% trans 'SUBMIT' %}</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="main"></div>

{% endblock %}

{% block left-content %}
    {#    <section id="footer">#}
    {#        <ul class="icons">#}
    {#            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>#}
    {#            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>#}
    {#            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>#}
    {#            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>#}
    {#            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>#}
    {#        </ul>#}
    {#        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a#}
    {#                href="http://unsplash.com">Unsplash</a>.</p>#}
    {#    </section>#}
    <style>
        #footer .links a {
            display: block !important;
            color: #7e7e7e;
        }
    </style>
    <div id="footer-wrapper"
         style="width: 100%;padding: 60px 60px 200px 60px;background-color: #303030;text-decoration: none;border-radius: 25px;">
        <footer id="footer" class="">
            <div class="row">
                <div class="col-3 col-6-medium col-12-small">
                    <!-- Links -->
                    <section class="widget links">
                        <h3 style="color: white;">ABOUT US</h3>
                        <a href="{% url 'other:CompanyIntroduction' %}">Company Introduction</a>
                        <a href="{% url 'other:Factory' %}">Factory</a>
                        <a href="{% url 'other:Video' %}">Video</a>
                        <a href="{% url 'other:Customer' %}">Customer</a>
                    </section>
                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Links -->
                    <section class="widget links">
                        <h3 style="color: white;">PRODUCT</h3>
                        {% for i in all_series %}
                            <a href="{% url 'goods:ProductsList' %}?sid={{ i.id }}">{{ i.name }}</a>

                        {% endfor %}
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">
                    <!-- Links -->
                    <section class="widget links">
                        <h3 style="color: white;">OUR BRANDS</h3>
                        {% for i in all_brands %}
                            <a href="http://{{ i.url }}">{{ i.name }}</a>
                        {% endfor %}
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Contact -->
                    <section class="widget links">
                        <h3 style="color: white;">CONTACT</h3>
                        <ul class="icons">
                            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                        </ul>
                        <span style="color: white;">Address:&nbsp;</span>
                        <p style="color: #7e7e7e;">{{ com_info.addr }}</p>
                        <span style="color: white;">Tel:&nbsp;
                            <a>{{ com_info.tel }}</a>
                        </span>
                        <span style="color: white;">Email:&nbsp;
                            <a>{{ com_info.email }}</a>
                        </span>
                        <span style="color: white;">Website:&nbsp;
                            <a href="http://{{ com_info.web }}">{{ com_info.web }}</a>
                        </span>
                    </section>

                </div>
            </div>

        </footer>
    </div>

{% endblock %}


{% block js %}
    <script>
        $(function () {
            $('.change_language').change(function (e) {
                e.preventDefault();
                $('#change_form').submit();
                return false;
            });
        })
    </script>
    <script src="{% static 'js/main_.js' %}"></script>
{% endblock %}