{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ index_info.title }}{% endblock %}
{% block description %}{{ index_info.description }}{% endblock %}
{% block keywords %}{{ index_info.keywords }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block body %}
    <body class="single is-preload">
{% endblock %}
{% block content-index %}
    <div id="heard-photo" class="heard-photo"></div>
    <div class="sidebar">
        <div class="container">
            <ul>
                <li>
                    <a href="#" style="width: 120px">{% trans 'Series' %}</a>
                </li>
                {% if sid %}
                    <li>
                        <a href="{% url 'goods:ProductsList' %}">{% trans 'All' %}</a>
                    </li>
                    {% for s in all_series %}
                        {% if sid == s.id %}
                            <li class="active">
                                <a href="{% url 'goods:ProductsList' %}?sid={{ s.id }}">{{ s.name }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'goods:ProductsList' %}?sid={{ s.id }}">{{ s.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li class="active">
                        <a href="{% url 'goods:ProductsList' %}">{% trans 'All' %}</a>
                    </li>
                    {% for s in all_series %}
                        <li>
                            <a href="{% url 'goods:ProductsList' %}?sid={{ s.id }}">{{ s.name }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

    </div>
    <div class="wrap wrap-product">
    <div class="container">
        <div class="title-in">
            <h2>{% trans 'Products' %}</h2>
            <p>{{ page_info|safe }}</p>
        </div>

        <div class="row">
            {% if not goods_list %}
                <h2>{% trans 'No Products' %}</h2>
            {% endif %}
            {% for goods in goods_list.object_list %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="item" style="background-color: rgb(246, 244, 236);">
                        <div class="p-title">
                            <h3>{{ goods.goods_sn }}</h3>
                            <p>{{ goods.name }}</p>
                        </div>
                        <div class="flexslider">
                            <div id="{{ goods.goods_sn }}" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    {% for image in goods.goodsimage %}
                                        {% if image.index == 0 %}
                                            <li data-target="#{{ goods.goods_sn }}"
                                                data-slide-to="{{ image.index }}" class="active"></li>
                                        {% else %}
                                            <li data-target="#{{ goods.goods_sn }}"
                                                data-slide-to="{{ image.index }}"></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    {% for image in goods.goodsimage %}
                                        {% if image.index == 0 %}
                                            <div class="item active">
                                                <a href="{% url 'goods:goods-detail' goods.id %}">
                                                    <img src="{{ MEDIA_URL }}{{ image.image }}" alt="" width="100%">
                                                </a>
                                            </div>
                                        {% else %}
                                            <div class="item">
                                                <a href="{% url 'goods:goods-detail' goods.id %}">
                                                    <img src="{{ MEDIA_URL }}{{ image.image }}" alt="" width="100%">
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <ul class="pager">
            {% if goods_list.has_previous %}
                <li><a href="?{{ goods_list.previous_page_number.querystring }}">&laquo;{% trans 'PREVIOUS PAGE' %}</a>
                </li>
            {% else %}
                <li><a class="disabled"><span>&laquo;{% trans 'PREVIOUS PAGE' %}</span></a></li>
            {% endif %}
            {% if goods_list.has_next %}
                <li><a href="?{{ goods_list.next_page_number.querystring }}">{% trans 'NEXT PAGE' %}&raquo;</a></li>
            {% else %}
                <li><a class="disabled"><span>{% trans 'NEXT PAGE' %}&raquo;</span></a></li>
            {% endif %}
        </ul>
    </div>
    <style>
        #footer .links a {
            display: block !important;
            color: #7e7e7e;
        }
    </style>


{% endblock %}

{% block left-content %}
    <div id="footer-wrapper"
         style="width: 100%;padding: 40px 60px 100px 60px;background-color: #303030;text-decoration: none;">
        <footer id="footer" class="">
            <div class="row">
                <div class="col-3 col-6-medium col-12-small">
                    <!-- Links -->
                    <section class="widget links">
                        <h3 style="color: white;">ABOUT US</h3>
                        <a href="{% url 'company:CompanyIntroduction' %}">Company Introduction</a>
                        <a href="{% url 'company:Factory' %}">Factory</a>
                        <a href="{% url 'company:Video' %}">Video</a>
                        <a href="{% url 'company:Customer' %}">Customer</a>
                    </section>
                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Links -->
                    <section class="widget links">
                        <h3 style="color: white;">PRODUCT</h3>
                        {% for i in all_series %}
                            <a href="{% url 'goods:ProductsList' %}?sid={{ i.id }}">{{ i.name }}</a>

                        {% endfor %}
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">
                    <!-- Links -->
                    <section class="widget links">
                        <h3 style="color: white;">OUR BRANDS</h3>
                        {% for i in all_brands %}
                            <a href="http://{{ i.url }}">{{ i.name }}</a>
                        {% endfor %}
                    </section>

                </div>
                <div class="col-3 col-6-medium col-12-small">

                    <!-- Contact -->
                    <section class="widget links">
                        <h3 style="color: white;">CONTACT</h3>
                        <ul class="icons">
                            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                        </ul>

                        <span style="color: white;">Tel:&nbsp;
                            <a>{{ com_info.tel }}</a>
                        </span>
                        <span style="color: white;">Email:&nbsp;
                            <a>{{ com_info.email }}</a>
                        </span>
                        <span style="color: white;">Website:&nbsp;
                            <a href="http://{{ com_info.web }}">{{ com_info.web }}</a>
                        </span>
                        <span style="color: white;">Address:&nbsp;</span>
                        <p style="color: #7e7e7e;">{{ com_info.addr }}</p>
                    </section>

                </div>
            </div>

        </footer>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $('.change_language').change(function (e) {
                e.preventDefault();
                $('#change_form').submit();
                return false;
            });
        })
    </script>
    <script src="{% static 'js/main_.js' %}"></script>
{% endblock %}