
* {
    margin: 0 0;
    padding: 0;
}

.hide {
    display: none;
}

.outer {
    position: relative;
    margin: 0 auto;
    width: 59em;
    height: 33.15em;
}

ul li {
    list-style: none;
}
.img{
    padding: 0;
}
.img li {
    position: absolute;
    top: 0;
    left: -9px;
}

.outer ul li a img {
    width: 59em;
    height: 33.15em;
}

.left, .right {
    position: absolute;
    width: 10%;
    height: 100%;
    background: rgba(105, 105, 105, 0.3);
    text-align: center;
    line-height: 623px;
    color: white;
    top: 0;
    user-select: none;
    font-family: "Times New Roman";
    font-size: 3em;
}
.left{
    left: 0;
}
.right {
    right: 0;
}

.num {
    position: absolute;
    top: 31em;
}

.num li {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    margin-left: 5px;
}

.active {
    background: red !important;
}
