{% extends 'admin/change_list.html' %}
{% load staticfiles %}
{% block content_title %}
    {#    <h1>网站图表统计</h1>#}
    <!-- ECharts单文件引入 -->
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
{% endblock %}

{% block result_list %}
    <a href="{% url 'viewsCount:views_export' %}" style="font-weight: bold; font-size: 20px;">导出成xls</a>
    <div class="results">
        <table>
            <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">日期</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">每日访问量</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">ip数量</a>
                    </div>
                </th>
            </tr>

            </thead>

            <tbody>
            {% for row in date %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ row.days }}</td>
                    <td>{{ row.views_count }}</td>
                    <td>{{ row.ip_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <br>
    <div id="mains" style="height:400px; width: 1000px;"></div>
    <script>
        let myChart = echarts.init(document.getElementById('mains'));
        let data1 = [];
        let data2 = [];
        let day = [];
        {% for i in date %}
            data1.push({{ i.views_count }});
            data2.push({{ i.ip_count }});
            day.push({{ i.days }});
        {% endfor %}

        myChart.setOption({
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,

            title: {
                text: '网站每日浏览次数'
            },
            tooltip: {
                trigger: 'axis',
            },
            legend: {
                data: ['访问次数', 'ip数量']
            },

            xAxis: [
                {
                    type: 'category',
                    data: day
                }
            ],
            yAxis: [
                {
                    type: 'value',
                }
            ],

            series: [
                {
                    name: '访问次数',
                    type: 'bar',
                    data: data1,
                    markPoint: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                {
                    name: 'ip数量',
                    type: 'bar',
                    data: data2,
                    markPoint: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
            ]
        });

    </script>

{% endblock %}

{% block pagination %}{% endblock %}