{% extends 'admin/change_list.html' %}
{% block content_title %}
    <h1>Test Page</h1>
{% endblock %}

{% block result_list %}
    <div class="results">
        <table>
            <thead>
                <tr>
                    <th>
                        <div class="text">
                            <a href="#">分类</a>
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for row in summary %}
                    <tr>
                        <td>{{ row.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block pagination %}{% endblock %}