{% extends 'backend/layout.html' %}
{% block title %}商品列表{% endblock %}
{% block contents %}
    <table class="table table-hover">
        <tr>
            <th>商品名</th>
            <th>商品描述</th>
            <th>商品编码</th>
            <th>添加时间</th>
            <th>操作</th>
        </tr>
        {% for goods in all_goods.object_list %}
            <tr>
                <td>{{ goods.name }}</td>
                <td>{{ goods.desc }}</td>
                <td>{{ goods.goods_sn }}</td>
                <td>{{ goods.add_time }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        {% if all_goods.has_previous %}
            <a href="?{{ all_goods.previous_page_number.querystring }}"
               class="prev">&lsaquo;&lsaquo;  previous</a>
        {% else %}
            <span class="disabled prev">&lsaquo;&lsaquo; previous </span>
        {% endif %}
        {% for page in all_goods.pages %}
            {% if page %}
                {% ifequal page all_goods.number %}
                    <span class="current page">{{ page }}</span>
                {% else %}
                    <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                {% endifequal %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
        {% if all_goods.has_next %}
            <a href="?{{ all_goods.next_page_number.querystring }}" class="next">next  &rsaquo;&rsaquo;</a>
        {% else %}
            <span class="disabled next"> next  &rsaquo;&rsaquo;</span>
        {% endif %}
    </div>
{% endblock %}