<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}Test-index{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'Plugins/Bootstrap/css/bootstrap.min.css' %}">
    {% block css %}{% endblock %}
</head>
{% block body %}
    <body class="is-preload">
{% endblock %}
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="/">AGAPASS</a></h1>
        <nav class="links">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="#">PRODUCTS</a></li>
                <li><a href="{%  url 'CompanyIntroduction' %}">ABOUT</a></li>
                <li><a href="#">ENGLISH,click change</a></li>
                {#                <li><a href="#">Adipiscing</a></li>#}
            </ul>
        </nav>
        <nav class="main">
            <ul>
                <li class="search">
                    <a class="fa-search" href="#search">Search</a>
                    <form id="search" method="get" action="#">
                        <input type="text" name="query" placeholder="Search"/>
                    </form>
                </li>
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <section id="menu">

        <!-- Search -->
        <section>
            <form class="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search"/>
            </form>
        </section>

        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="#">
                        <h3>Lorem ipsum</h3>
                        <p>Feugiat tempus veroeros dolor</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Dolor sit amet</h3>
                        <p>Sed vitae justo condimentum</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Feugiat veroeros</h3>
                        <p>Phasellus sed ultricies mi congue</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Etiam sed consequat</h3>
                        <p>Porta lectus amet ultricies</p>
                    </a>
                </li>
            </ul>
        </section>

        <!-- Actions -->
        <section>
            <ul class="actions stacked">
                <li><a href="#" class="button large fit">Log In</a></li>
            </ul>
        </section>

    </section>

    <!-- Main -->
    {% block content-index %}
        <div id="main">
            <!-- Banner -->
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <ol class="carousel-indicators">
                        {% for banner in all_banner %}
                            {% if banner.index == 0 %}
                                <li data-target="#myCarousel" data-slide-to="{{ banner.index }}" class="active"></li>
                            {% else %}
                                <li data-target="#myCarousel" data-slide-to="{{ banner.index }}"></li>
                            {% endif %}
                        {% endfor %}
                    </ol>

                    {% for banner in all_banner %}
                        {% if banner.index == 0 %}
                            <div class="item active">
                                <a href="{{ banner.url }}">
                                    <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="" width="100%">
                                </a>
                            </div>
                        {% else %}
                            <div class="item">
                                <a href="{{ banner.url }}">
                                    <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="" width="100%">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <a href="#myCarousel" data-slide="prev" class="carousel-control left"><!-- ‹ -->
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a><!-- 左箭头 -->
                    <a href="#myCarousel" data-slide="next" class="carousel-control right"><!-- › -->
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a><!-- 右箭头 -->
                </div>
            </div>
            {% for goods in all_goods.object_list %}
                <article class="post">
                    <header>
                        <div class="title">
                            <h2><a href="{% url 'goods-detail' goods.id %}">{{ goods.name }}</a></h2>
                            <p>{{ goods.desc }}</p>
                        </div>
                        <div class="meta">
                            <time class="published" datetime="2015-11-01">{{ goods.add_time }}</time>
                            <a href="#" class="author"><span class="name">Jane Doe</span>
                                <img alt='' src={% static 'images/com-logo.png' %}/></a>
                        </div>
                    </header>
                    <a href="{% url 'goods-detail' goods.id %}" class="image featured">
                        <img src="{{ MEDIA_URL }}{{ goods.goods_front_img }}"/>
                    </a>
                    <p>
                        {#                                    {% autoescape off %}#}
                        {{ goods.detail|safe }}
                        {#                                    {% endautoescape %}#}
                    </p>
                    <footer>
                        <ul class="actions">
                            <li><a href="{% url 'goods-detail' goods.id %}" class="button large">Continue Reading</a>
                            </li>
                        </ul>
                        <ul class="stats">
                            <li><a href="#">General</a></li>
                            <li><a href="#" class="icon fa-heart">28</a></li>
                            <li><a href="#" class="icon fa-comment">128</a></li>
                        </ul>
                    </footer>
                </article>
            {% endfor %}
            <!-- Pagination -->
            {#            <ul class="actions pagination">#}
            {#            &nbsp;&nbsp;&nbsp;&nbsp;#}
            {#                {% if all_goods.has_previous %}#}
            {#                    <li><a href="?{{ all_goods.previous_page_number.querystring }}" class="button large previous">PREVIOUS#}
            {#                        PAGE</a></li>#}
            {#                {% else %}#}
            {#                    <li><a href="" class="disabled button large previous">PREVIOUS PAGE</a></li>#}
            {#                {% endif %}#}
            {#                {% for page in all_goods.pages %}#}
            {#                    {% if page %}#}
            {#                        {% ifequal page all_goods.number %}#}
            {#                            <li><span class="current page">{{ page }}</span></li>#}
            {#                        {% else %}#}
            {#                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>#}
            {#                        {% endifequal %}#}
            {#                    {% else %}#}
            {#                        ...#}
            {#                    {% endif %}#}
            {#                {% endfor %}#}
            {#                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
            {#                {% if all_goods.has_next %}#}
            {#                    <li><a href="?{{ all_goods.next_page_number.querystring }}" class="button large next">NEXT PAGE</a>#}
            {#                    </li>#}
            {#                {% else %}#}
            {#                    <li><a href="" class="disabled button large next">NEXT PAGE</a></li>#}
            {#                {% endif %}#}
            {#            </ul>#}

        </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    <!-- Sidebar -->
    {% block left-content %}
        <section id="sidebar">

            <!-- Intro -->
            <section id="intro">
                <a href="#" class="logo"><img src="{% static 'images/com-logo.png' %}" alt=""/></a>
                <header>
                    <h2>Future Imperfect</h2>
                    <p>Another fine responsive site template by <a href="http://html5up.net">None</a></p>
                </header>
            </section>

            <!-- Mini Posts -->
            <section>
                <div class="mini-posts">

                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="goods/goods-detail.html">Vitae sed condimentum</a></h3>
                            <time class="published" datetime="2015-10-20">October 20, 2015</time>
                            <a href="#" class="author"><img src="/static/images/avatar.jpg" alt=""/></a>
                        </header>
                        <a href="goods/goods-detail.html" class="image"><img src="/static/images/pic04.jpg" alt=""/></a>
                    </article>

                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="goods/goods-detail.html">Rutrum neque accumsan</a></h3>
                            <time class="published" datetime="2015-10-19">October 19, 2015</time>
                            <a href="#" class="author"><img src="/static/images/avatar.jpg" alt=""/></a>
                        </header>
                        <a href="goods/goods-detail.html" class="image"><img src="/static/images/pic05.jpg" alt=""/></a>
                    </article>

                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="goods/goods-detail.html">Odio congue mattis</a></h3>
                            <time class="published" datetime="2015-10-18">October 18, 2015</time>
                            <a href="#" class="author"><img src="/static/images/avatar.jpg" alt=""/></a>
                        </header>
                        <a href="goods/goods-detail.html" class="image"><img src="/static/images/pic06.jpg" alt=""/></a>
                    </article>

                </div>
            </section>

            <!-- Posts List -->
            <section>
                <ul class="posts">
                    <li>
                        <article>
                            <header>
                                <h3><a href="goods/goods-detail.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
                                <time class="published" datetime="2015-10-20">October 20, 2015</time>
                            </header>
                            <a href="goods/goods-detail.html" class="image"><img src="/static/images/pic08.jpg" alt=""/></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="goods/goods-detail.html">Convallis maximus nisl mattis nunc id lorem</a>
                                </h3>
                                <time class="published" datetime="2015-10-15">October 15, 2015</time>
                            </header>
                            <a href="goods/goods-detail.html" class="image"><img src="/static/images/pic09.jpg" alt=""/></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="goods/goods-detail.html">Euismod amet placerat vivamus porttitor</a></h3>
                                <time class="published" datetime="2015-10-10">October 10, 2015</time>
                            </header>
                            <a href="goods/goods-detail.html" class="image"><img src="/static/images/pic10.jpg" alt=""/></a>
                        </article>
                    </li>
                </ul>
            </section>

            <!-- About -->
            <section class="blurb">
                <h2>About</h2>
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod
                    amet
                    placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </section>

            <!-- Footer -->
            <section id="footer">
                <ul class="icons">
                    <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                    <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
                        href="http://unsplash.com">Unsplash</a>.</p>
            </section>

        </section>
    {% endblock %}

</div>

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
{% block js %}
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
<script src="{% static 'Plugins/Bootstrap/js/bootstrap.js' %}"></script>
</body>


</html>