{% load i18n %}
{# <!DOCTYPE HTML> #}
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords"
          content="{% block keywords %}{% endblock %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'Plugins/Bootstrap/css/bootstrap.css' %}">
    {% block css %}{% endblock %}
</head>
{% block body %}
    <body class="is-preload">
{% endblock %}
<!-- Wrapper -->
<div id="wrapper" style="margin: 0;width: 100%;padding: 0;">

    <!-- Header -->
    <header id="header">
        <a class="author" style="font-weight: bold;margin-left: 20px;text-decoration: none;"><span class="name"><img
                src="{% static 'images/com-logo.png' %}" alt=""/></span>AGAPASS</a>
        <nav class="links">
            <ul>
                <li><a href="{% url 'index' %}">{% trans 'HOME' %}</a></li>
                <li><a href="{% url 'goods:ProductsList' %}">{% trans 'PRODUCTS' %}</a></li>
                <li><a href="{% url 'other:CompanyIntroduction' %}">{% trans 'ABOUT' %}</a></li>
                <li><a href="{% url 'other:News' %}">{% trans 'NEWS' %}</a></li>
                <li><a href="{% url 'other:contact' %}">{% trans 'CONTACT' %}</a></li>
                <li>
                    <form action="{% url 'set_language' %}" method="post" id="change_form">
                        {% csrf_token %}
                        {% get_available_languages as LANGUAGES %}
                        <select name="language" id="language" class="change_language" style="background-color: white;">
                            {% for language in LANGUAGES %}
                                <option value="{{ language.0 }}"
                                        {% ifequal language.0 LANGUAGE_CODE %}selected{% endifequal %}>
                                    {{ language.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </li>
            </ul>

        </nav>
        <nav class="main">
            <ul>
                <li class="search">
                    <a class="fa-search" href="#search">{% trans 'Search' %}</a>
                    <form id="search" method="get" action="{% url 'goods:Search' %}">
                        <input type="text" name="query" placeholder="{% trans 'Search' %}"/>
                    </form>
                </li>
                <li class="menu">
                    <a class="fa-bars" href="#menu">{% trans 'Menu' %}</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <section id="menu">

        <!-- Search -->
        <section>
            <form class="search" method="get" action="{% url 'goods:Search' %}">
                <input type="text" name="query" placeholder="{% trans 'Search' %}"/>
            </form>
        </section>

        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="{% url 'index' %}">
                        <h3>{% trans 'HOME' %}</h3>
                    </a>
                </li>
                <li>
                    <a href="{% url 'goods:ProductsList' %}">
                        <h3>{% trans 'PRODUCTS' %}</h3>
                    </a>
                </li>
                <li>
                    <a href="{% url 'other:CompanyIntroduction' %}"><h3>{% trans 'ABOUT' %}</h3></a>
                </li>
                <li>
                    <a href="{% url 'other:News' %}">
                        <h3>{% trans 'NEWS' %}</h3>
                    </a>
                </li>
                <li>
                    <a href="{% url 'other:contact' %}">
                        <h3>{% trans 'CONTACT' %}</h3>
                    </a>
                </li>
                <li>
                    <form action="{% url 'set_language' %}" method="post" id="change_form1">
                        {% csrf_token %}
                        {% get_available_languages as LANGUAGES %}
                        <select name="language" id="language" class="change_language1" style="background-color: white;">
                            {% for language in LANGUAGES %}
                                <option value="{{ language.0 }}"{% ifequal language.0 LANGUAGE_CODE %}
                                        selected {% endifequal %}>
                                    {{ language.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </li>
            </ul>
        </section>

    </section>

    <!-- Main -->
    {% block content-index %}
        <style>
            .video {
                width: 48%;
                margin: 1%;
                float: left;
            }
            #footer .links a {
                display: block !important;
                color: #7e7e7e;
            }
        </style>
        <div id="main">
            <!-- Banner -->
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <ol class="carousel-indicators">
                        {% for banner in all_banner %}
                            {% if banner.index == 0 %}
                                <li data-target="#myCarousel" data-slide-to="{{ banner.index }}" class="active"></li>
                            {% else %}
                                <li data-target="#myCarousel" data-slide-to="{{ banner.index }}"></li>
                            {% endif %}
                        {% endfor %}
                    </ol>

                    {% for banner in all_banner %}
                        {% if banner.index == 0 %}
                            <div class="item active">
                                <a href="{{ banner.url }}">
                                    <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="" width="100%">
                                </a>
                            </div>
                        {% else %}
                            <div class="item">
                                <a href="{{ banner.url }}">
                                    <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="" width="100%">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <a href="#myCarousel" data-slide="prev" class="carousel-control left"><!-- ‹ -->
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a><!-- 左箭头 -->
                    <a href="#myCarousel" data-slide="next" class="carousel-control right"><!-- › -->
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a><!-- 右箭头 -->
                </div>
            </div>

            <article class="post">
                <link rel="stylesheet" href="{% static 'css/style.css' %}">
                {#                <link href="{% static 'css/video-js.min.css' %}" rel="stylesheet">#}
                <!-- 公司信息 -->
                <header>
                    <div class="title">
                        <h2><a href=""></a></h2>
                        <span style="font-weight: bold;font-size:24px;">
			                {{ com_info.name }}
                        </span>
                        <br><br>
                        <span style="font-size:16px;text-align: left;">{{ com_info.summary }}...
                                    <a href="{% url 'other:CompanyIntroduction' %}"
                                       style="color: orange;">{% trans 'More' %}>></a>
                        </span>
                    </div>
                    <div class="meta">
                        <img alt='' src="{% static 'images/com-logo.png' %}"/>
                    </div>
                </header>
                {% if video1 %}
                    <div class="video">
                        <h3 style="text-align: center">{{ video1.title }}</h3>
                        <a class="img-box" data-toggle="modal" data-target=".{{ video1.title }}x"
                           style="position: relative">
                            <img alt="{{ video1.title }}"
                                 src="{{ MEDIA_URL }}{{ video1.image }}"
                                 style="display: block;width: 100%">
                        </a>
                        <div class="modal fade {{ video1.title }}x" id="{{ video1.title }}x" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="m">
                                        <video id="my-video" class="video-js my_video" controls preload="auto"
                                                {#                                                                                       width="956px"#}
                                                {#                                                                                       height="530px"#}
                                               data-setup="{}">
                                            <source src="{{ MEDIA_URL }}{{ video1.video }}" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if video2 %}
                    <div class="video">
                        <h3 style="text-align: center">{{ video2.title }}</h3>
                        <a class="img-box" data-toggle="modal" data-target=".{{ video2.title }}x"
                           style="position: relative">
                            <img alt="{{ video2.title }}"
                                 src="{{ MEDIA_URL }}{{ video2.image }}"
                                 style="display: block;width: 100%">
                        </a>
                        <div class="modal fade {{ video2.title }}x" id="{{ video2.title }}x" tabindex="-1" role="dialog"
                             aria-labelledby="myLargeModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="m">
                                        <video id="my-video" class="video-js my_video" controls preload="auto"
                                                {#                                                                                       width="956px"#}
                                                {#                                                                                       height="530px"#}
                                               data-setup="{}">
                                            <source src="{{ MEDIA_URL }}{{ video2.video }}" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {#                <h3>{{ video.title }}</h3>#}
            </article>
            <div id="features-wrapper" style="width: 100%;float: left;">
                {#                <div class="container">#}
                <div class="row">
                    {% for goods in all_goods %}
                        <div class="col-4 col-12-medium"
                             style="border-radius: 25px;{% ifequal forloop.counter|add:0 2 %}padding: 0 2px;{% else %}padding: 0;{% endifequal %}margin: 0">

                            <!-- Box -->
                            <section class="box feature" style="border-radius: 25px;">
                                <a href="{% url 'goods:goods-detail' goods.id %}" class="image featured">
                                    <img
                                            style="border-radius: 25px;padding: 0 1em"
                                            src="{{ MEDIA_URL }}{{ goods.goods_front_img }}"
                                            alt=""/></a>
                                <div class="inner" style="padding: 0 2em">
                                    <header>
                                        <h1>{{ goods.name }}</h1>
                                        <p>
                                            {{ goods.add_time.year }}.
                                            {{ goods.add_time.month }}.
                                            {{ goods.add_time.day }}
                                        </p>
                                    </header>
                                    <p>{{ goods.desc }}</p>
                                    <br>
                                </div>
                            </section>
                        </div>
                    {% endfor %}
                    {#                    </div>#}
                </div>
            </div>
            <div style="width: 100%;padding: 60px 60px 200px 60px;background-color: #303030;text-decoration: none;border-radius: 25px; float: left">
                <footer id="footer" class="">
                    <div class="row">
                        <div class="col-3 col-6-medium col-12-small">
                            <!-- Links -->
                            <section class="widget links">
                                <h3 style="color: white;">{% trans 'ABOUT US' %}</h3>
                                <a href="{% url 'other:CompanyIntroduction' %}">{% trans 'Company Introduction' %}</a>
                                <a href="{% url 'other:Factory' %}">{% trans 'Factory' %}</a>
                                <a href="{% url 'other:Video' %}">{% trans 'Video' %}</a>
                                <a href="{% url 'other:Customer' %}">{% trans 'Customer' %}</a>
                            </section>
                        </div>
                        <div class="col-3 col-6-medium col-12-small">
                            <!-- Links -->
                            <section class="widget links">
                                <h3 style="color: white;">{% trans 'PRODUCT' %}</h3>
                                {% for i in all_series %}
                                    <a href="{% url 'goods:ProductsList' %}?sid={{ i.id }}">{{ i.name }}</a>

                                {% endfor %}
                            </section>
                        </div>
                        <div class="col-3 col-6-medium col-12-small">
                            <!-- Links -->
                            <section class="widget links">
                                <h3 style="color: white;">{% trans 'OUR BRANDS' %}</h3>
                                {% for i in all_brands %}
                                    <a href="http://{{ i.url }}">{{ i.name }}</a>
                                {% endfor %}
                            </section>

                        </div>
                        <div class="col-3 col-6-medium col-12-small">

                            <!-- Contact -->
                            <section class="widget links">
                                <h3 style="color: white;">{% trans 'CONTACT' %}</h3>
                                <ul class="icons">
                                    <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                                    <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                                    <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                                    <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                                    <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                                </ul>
                                <span style="color: white;">Address:&nbsp;</span>
                                <p style="color: #7e7e7e;">{{ com_info.addr }}</p>
                                <span style="color: white;">Tel:&nbsp;
                            <a>{{ com_info.tel }}</a>
                        </span>
                                <span style="color: white;">Email:&nbsp;
                            <a>{{ com_info.email }}</a>
                        </span>
                                <span style="color: white;">Website:&nbsp;
                            <a href="http://{{ com_info.web }}">{{ com_info.web }}</a>
                        </span>
                            </section>

                        </div>
                    </div>

                </footer>
            </div>
        </div>
    {% endblock %}
    <!-- Sidebar -->
    {% block left-content %}
    {% endblock %}
</div>
{% block footer %}
{% endblock %}
<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.change_language').change(function (e) {
            e.preventDefault();
            $('#change_form').submit();
            return false;
        });
        $('.change_language1').change(function (e) {
            e.preventDefault();
            $('#change_form1').submit();
            return false;
        });
    })
</script>

{% block js %}
    {#    <script src="{% static 'js/video.min.js' %}"></script>#}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.video-js').css({
                width: window.innerWidth * 0.8 + 'px',
                height: window.innerWidth * 0.4435 + 'px'
            });
            $('.modal .modal-dialog').css({
                width: window.innerWidth * 0.8 + 'px',
                height: window.innerWidth * 0.4435 + 'px',
                margin: 'auto'
            })
        });
        $('#{{ video.title }}x').click(function () {
            var v = $('#{{ video.title }}x').find('video')[0];
            if (!v.paused) {
                v.pause();
            }
        });

        //设置中文
        {#videojs.addLanguage('zh-CN', {#}
        {#    "Play": "播放",#}
        {#    "Pause": "暂停",#}
        {#    "Current Time": "当前时间",#}
        {#    "Duration": "时长",#}
        {#    "Remaining Time": "剩余时间",#}
        {#    "Stream Type": "媒体流类型",#}
        {#    "LIVE": "直播",#}
        {#    "Loaded": "加载完毕",#}
        {#    "Progress": "进度",#}
        {#    "Fullscreen": "全屏",#}
        {#    "Non-Fullscreen": "退出全屏",#}
        {#    "Mute": "静音",#}
        {#    "Unmute": "取消静音",#}
        {#    "Playback Rate": "播放速度",#}
        {#    "Subtitles": "字幕",#}
        {#    "subtitles off": "关闭字幕",#}
        {#    "Captions": "内嵌字幕",#}
        {#    "captions off": "关闭内嵌字幕",#}
        {#    "Chapters": "节目段落",#}
        {#    "Close Modal Dialog": "关闭弹窗",#}
        {#    "Descriptions": "描述",#}
        {#    "descriptions off": "关闭描述",#}
        {#    "Audio Track": "音轨",#}
        {#    "You aborted the media playback": "视频播放被终止",#}
        {#    "A network error caused the media download to fail part-way.": "网络错误导致视频下载中途失败。",#}
        {#    "The media could not be loaded, either because the server or network failed or because the format is not supported.": "视频因格式不支持或者服务器或网络的问题无法加载。",#}
        {#    "The media playback was aborted due to a corruption problem or because the media used features your browser did not support.": "由于视频文件损坏或是该视频使用了你的浏览器不支持的功能，播放终止。",#}
        {#    "No compatible source was found for this media.": "无法找到此视频兼容的源。",#}
        {#    "The media is encrypted and we do not have the keys to decrypt it.": "视频已加密，无法解密。",#}
        {#    "Play Video": "播放视频",#}
        {#    "Close": "关闭",#}
        {#    "Modal Window": "弹窗",#}
        {#    "This is a modal window": "这是一个弹窗",#}
        {#    "This modal can be closed by pressing the Escape key or activating the close button.": "可以按ESC按键或启用关闭按钮来关闭此弹窗。",#}
        {#    ", opens captions settings dialog": ", 开启标题设置弹窗",#}
        {#    ", opens subtitles settings dialog": ", 开启字幕设置弹窗",#}
        {#    ", opens descriptions settings dialog": ", 开启描述设置弹窗",#}
        {#    ", selected": ", 选择",#}
        {#    "captions settings": "字幕设定",#}
        {#    "Audio Player": "音频播放器",#}
        {#    "Video Player": "视频播放器",#}
        {#    "Replay": "重播",#}
        {#    "Progress Bar": "进度小节",#}
        {#    "Volume Level": "音量",#}
        {#    "subtitles settings": "字幕设定",#}
        {#    "descriptions settings": "描述设定",#}
        {#    "Text": "文字",#}
        {#    "White": "白",#}
        {#    "Black": "黑",#}
        {#    "Red": "红",#}
        {#    "Green": "绿",#}
        {#    "Blue": "蓝",#}
        {#    "Yellow": "黄",#}
        {#    "Magenta": "紫红",#}
        {#    "Cyan": "青",#}
        {#    "Background": "背景",#}
        {#    "Window": "视窗",#}
        {#    "Transparent": "透明",#}
        {#    "Semi-Transparent": "半透明",#}
        {#    "Opaque": "不透明",#}
        {#    "Font Size": "字体尺寸",#}
        {#    "Text Edge Style": "字体边缘样式",#}
        {#    "None": "无",#}
        {#    "Raised": "浮雕",#}
        {#    "Depressed": "压低",#}
        {#    "Uniform": "均匀",#}
        {#    "Dropshadow": "下阴影",#}
        {#    "Font Family": "字体库",#}
        {#    "Proportional Sans-Serif": "比例无细体",#}
        {#    "Monospace Sans-Serif": "单间隔无细体",#}
        {#    "Proportional Serif": "比例细体",#}
        {#    "Monospace Serif": "单间隔细体",#}
        {#    "Casual": "舒适",#}
        {#    "Script": "手写体",#}
        {#    "Small Caps": "小型大写字体",#}
        {#    "Reset": "重启",#}
        {#    "restore all settings to the default values": "恢复全部设定至预设值",#}
        {#    "Done": "完成",#}
        {#    "Caption Settings Dialog": "字幕设定视窗",#}
        {#    "Beginning of dialog window. Escape will cancel and close the window.": "开始对话视窗。离开会取消及关闭视窗",#}
        {#    "End of dialog window.": "结束对话视窗"#}
        {# });#}

        {#myPlayer = videojs('my-video');#}
        {#videojs("my-video").ready(function () {#}
        {#    myPlayer = this;#}
        {#myPlayer.play();#}
        {# });#}
    </script>

{% endblock %}
<script src="{% static 'Plugins/Bootstrap/js/bootstrap.js' %}"></script>

</body>
</html>
