{% load i18n %}
<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords"
          content="{% block keywords %}{% endblock %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'Plugins/Bootstrap/css/bootstrap.css' %}">
    {% block css %}{% endblock %}
</head>
{% block body %}
    <body class="is-preload">
{% endblock %}
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="/">AGAPASS</a></h1>
        <nav class="links">
            <ul>
                <li><a href="{% url 'index' %}">HOME</a></li>
                <li><a href="{% url 'goods:ProductsList' %}">PRODUCTS</a></li>
                <li><a href="{% url 'other:CompanyIntroduction' %}">ABOUT</a></li>
                <li><a href="{% url 'other:News' %}">NEWS</a></li>
                <li><a href="{% url 'other:contact' %}">CONTACT</a></li>
                {#                <li><a href="#">ENGLISH,click change</a></li>#}
                {#                <li><a href="#">Adipiscing</a></li>#}
                <li>
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}"/>
                        <select name="language">
                            {% for language in LANGUAGES %}
                                <option value="{{ language.0 }}"{% if language.0 == LANGUAGE_CODE %}
                                        selected="selected"{% endif %}>
                                {{ language.1 }}
                            {% endfor %}
                        </select>
                        <input type="submit" value="Go"/>
                    </form>
                </li>
            </ul>
        </nav>
        <nav class="main">
            <ul>
                <li class="search">
                    <a class="fa-search" href="#search">Search</a>
                    <form id="search" method="get" action="{% url 'goods:Search' %}">
                        <input type="text" name="query" placeholder="Search"/>
                    </form>
                </li>
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <section id="menu">

        <!-- Search -->
        <section>
            <form class="search" method="get" action="{% url 'goods:Search' %}">
                <input type="text" name="query" placeholder="Search"/>
            </form>
        </section>

        <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="{% url 'index' %}">
                        <h3>HOME</h3>
                        {#                        <p>Feugiat tempus veroeros dolor</p>#}
                    </a>
                </li>
                <li>
                    <a href="{% url 'goods:ProductsList' %}">
                        <h3>PRODUCTS</h3>
                        {#                        <p>Sed vitae justo condimentum</p>#}
                    </a>
                </li>
                <li>
                    <a href="{% url 'other:News' %}">
                        <h3>NEWS</h3>
                        {#                        <p>Phasellus sed ultricies mi congue</p>#}
                    </a>
                </li>
                <li>
                    <a href="{% url 'other:contact' %}">
                        <h3>CONTACT</h3>
                        {#                        <p>Porta lectus amet ultricies</p>#}
                    </a>
                </li>
            </ul>
        </section>

        <!-- Actions -->
        {#        <section>#}
        {#            <ul class="actions stacked">#}
        {#                <li><a href="#" class="button large fit">Log In</a></li>#}
        {#            </ul>#}
        {#        </section>#}

    </section>

    <!-- Main -->
    {% block content-index %}
        <div id="main">
            <!-- Banner -->
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <ol class="carousel-indicators">
                        {% for banner in all_banner %}
                            {% if banner.index == 0 %}
                                <li data-target="#myCarousel" data-slide-to="{{ banner.index }}" class="active"></li>
                            {% else %}
                                <li data-target="#myCarousel" data-slide-to="{{ banner.index }}"></li>
                            {% endif %}
                        {% endfor %}
                    </ol>

                    {% for banner in all_banner %}
                        {% if banner.index == 0 %}
                            <div class="item active">
                                <a href="{{ banner.url }}">
                                    <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="" width="100%">
                                </a>
                            </div>
                        {% else %}
                            <div class="item">
                                <a href="{{ banner.url }}">
                                    <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="" width="100%">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <a href="#myCarousel" data-slide="prev" class="carousel-control left"><!-- ‹ -->
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a><!-- 左箭头 -->
                    <a href="#myCarousel" data-slide="next" class="carousel-control right"><!-- › -->
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a><!-- 右箭头 -->
                </div>
            </div>
            {% for goods in all_goods.object_list %}
                <article class="post">
                    <header>
                        <div class="title">
                            <h2><a href="{% url 'goods:goods-detail' goods.id %}">{{ goods.name }}</a></h2>
                            <p>{{ goods.desc }}</p>
                        </div>
                        <div class="meta">
                            <time class="published" datetime="2015-11-01">{{ goods.add_time }}</time>
                            <a href="#" class="author"><span class="name"></span>
                                <img alt='' src={% static 'images/com-logo.png' %}/></a>
                        </div>
                    </header>
                    <a href="{% url 'goods:goods-detail' goods.id %}" class="image featured">
                        <img src="{{ MEDIA_URL }}{{ goods.goods_front_img }}"/>
                    </a>
                    <p>
                        {#                                    {% autoescape off %}#}
                        {{ goods.detail|safe }}
                        {#                                    {% endautoescape %}#}
                    </p>
                    <footer>
                        <ul class="actions">
                            <li><a href="{% url 'goods:goods-detail' goods.id %}" class="button large">{% trans 'More Info' %}</a>
                            </li>
                        </ul>
                        {#                        <ul class="stats">#}
                        {#                            <li><a href="#">General</a></li>#}
                        {#                            <li><a href="#" class="icon fa-heart">28</a></li>#}
                        {#                            <li><a href="#" class="icon fa-comment">128</a></li>#}
                        {#                        </ul>#}
                    </footer>
                </article>
            {% endfor %}
            <!-- Pagination -->
            <ul class="pager">
                {% if all_goods.has_previous %}
                    <li><a href="?{{ all_goods.previous_page_number.querystring }}">&laquo;PREVIOUS PAGE</a></li>
                {% else %}
                    <li><a class="disabled"><span>&laquo;PREVIOUS PAGE</span></a></li>
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% if all_goods.has_next %}
                    <li><a href="?{{ all_goods.next_page_number.querystring }}">NEXT PAGE&raquo;</a></li>
                {% else %}
                    <li><a class="disabled"><span>NEXT PAGE&raquo;</span></a></li>
                {% endif %}
            </ul>


        </div>
    {% endblock %}

    {% block footer %}{% endblock %}

    <!-- Sidebar -->
    {% block left-content %}
        <section id="sidebar">

            <!-- Intro -->
            <section id="intro">
                <a href="#" class="logo"><img src="{% static 'images/com-logo.png' %}" alt=""/></a>
                <header>
                    <h2>SEE HOT PRODUCTS?</h2><br>
                    <span style="font-size: 18px;">We have listed some hot items, let’s take a look.</span>
                </header>
            </section>

            <!-- Mini Posts -->
            <section>
                <div class="mini-posts">

                    <!-- Mini Post -->
                    {% for hot in hot_goods %}
                        <article class="mini-post">
                            <header>
                                <h3><p>{{ hot.name }}</p></h3>
                                <time class="published" datetime="2015-10-20">{{ hot.add_time }}</time>
                                <a href="" class="author"><img src="{% static 'images/com-logo.png' %}" alt=""/></a>
                            </header>
                            <a href="{% url 'goods:goods-detail' hot.id %}" class="image"><img
                                    src="{{ MEDIA_URL }}{{ hot.goods_front_img }}" alt=""/></a>
                        </article>
                    {% endfor %}


                </div>
            </section>
            <section>
                <h3>More Products</h3>
            </section>
            <!-- Posts List -->
            <section>
                <ul class="posts">
                    {% for goods in all_goods.object_list %}
                        <li>
                            <article>
                                <header>
                                    <h3><p>{{ goods.name }}</p></h3>
                                    <time class="published" datetime="2015-10-20">{{ goods.add_time }}</time>
                                </header>
                                <a href="{% url 'goods:goods-detail' goods.id %}" class="image"><img
                                        src="{{ MEDIA_URL }}{{ goods.goods_front_img }}" alt=""/></a>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            </section>

            <!-- About -->
            <section class="blurb">
                <h2>About</h2>
                <span style="font-size: 16px;">Like our website?
                    just share it.</span>
                <ul class="actions">
                    {#                    <li><a href="#" class="button">Learn More</a></li>#}
                </ul>
            </section>

            <!-- Footer -->
            <section id="footer">
                <ul class="icons">
                    <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                    <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
                        href="http://unsplash.com">Unsplash</a>.</p>
            </section>
        </section>
    {% endblock %}
</div>

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block js %}
{% endblock %}
<script src="{% static 'Plugins/Bootstrap/js/bootstrap.js' %}"></script>
</body>


</html>