{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans 'CONTACT US' %}{% endblock %}
{% block content-index %}
    <div id="main">
        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <section>
                        <h2>{% trans 'Company Info' %}</h2><br><br>
                    </section>

                    <span style="font-size: 20px;color: #3c3c3c">{% trans 'Address' %}:&nbsp;&nbsp;{{ com_message.addr }}</span><br>
                    <span style="font-size: 20px;color: #3c3c3c">{% trans 'Tel' %}:&nbsp;&nbsp;{{ com_message.tel }}</span><br>
                    <span style="font-size: 20px;color: #3c3c3c">{% trans 'Email' %}:&nbsp;&nbsp;{{ com_message.email }}</span><br>
                    <span style="font-size: 20px;color: #3c3c3c">{% trans 'Website' %}:&nbsp;&nbsp;<a
                            href="https://www.baidu.com" style="text-decoration:none;">{{ com_message.web }}</a></span>
                </div>
                <div class="meta">
                    <h3>{% trans 'Contact' %}</h3>
                    <time class="published" datetime="2015-11-01"><h5 style="color: orange">{{ com_message.name }}</h5>
                    </time>
                    {#                    <a href="{{ com_message.web }}" class="author"><span class="name"></span></a>#}
                    <img src="{% static 'images/com-logo.png' %}" alt=""/>
                </div>
            </header>

            <div class="note">
                <span style="font-size: 30px; font-weight: bold;">{% trans 'Leave us a message' %}</span><br><br><br>
                <form class="row feedback-form" onsubmit="return false;" method="post" id="jsForm">
                    {% csrf_token %}

                    <div class="col-xs-12 col-md-6 text">
                        <input type="text" placeholder="{% trans 'Name' %} *" name="name" id="name"
                               style="background-color: rgb(246, 244, 236);">
                    </div>
                    <div class="col-xs-12 col-md-6 text">
                        <input type="text" placeholder="{% trans 'Phone' %}" name="phone" id="phone"
                               style="background-color: rgb(246, 244, 236);">
                    </div>
                    <br><br><br>
                    <div class="col-xs-12 col-md-6 text">
                        <input type="text" placeholder="{% trans 'Email' %} *" name="email" id="email"
                               style="background-color: rgb(246, 244, 236);">
                    </div>
                    <div class="col-xs-12 col-md-6 text">
                        <input type="text" placeholder="{% trans 'Country' %} *" name="country" id="country"
                               style="background-color: rgb(246, 244, 236);">
                    </div>
                    <br><br><br>
                    <div class="col-xs-12">
                        <textarea name="message" rows="6" placeholder="{% trans 'Messages' %} *" id="message"
                                  style="background-color: rgb(246, 244, 236);"></textarea>
                    </div>
                    <p>* Required Field.</p>
                    <p class="errors" id="jsCompanyTips"></p>
                    <br><br><br>
                    <div class="col-xs-12">
                        <button class="send submit" id="jsBtn"><span>{% trans 'SUBMIT' %} </span></button>
                    </div>

                </form>
            </div>
        </article>
        <style>
            #footer .links a {
                display: block !important;
                color: #7e7e7e;
            }
        </style>
        <div id="footer-wrapper"
             style="width: 100%;padding: 60px 60px 200px 60px;background-color: #303030;text-decoration: none;border-radius: 25px;">
            <footer id="footer" class="">
                <div class="row">
                    <div class="col-3 col-6-medium col-12-small">
                        <!-- Links -->
                        <section class="widget links">
                            <h3 style="color: white;">ABOUT US</h3>
                            <a href="{% url 'other:CompanyIntroduction' %}">Company Introduction</a>
                            <a href="{% url 'other:Factory' %}">Factory</a>
                            <a href="{% url 'other:Video' %}">Video</a>
                            <a href="{% url 'other:Customer' %}">Customer</a>
                        </section>
                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3 style="color: white;">PRODUCT</h3>
                            {% for i in all_series %}
                                <a href="{% url 'goods:ProductsList' %}?sid={{ i.id }}">{{ i.name }}</a>

                            {% endfor %}
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">
                        <!-- Links -->
                        <section class="widget links">
                            <h3 style="color: white;">OUR BRANDS</h3>
                            {% for i in all_brands %}
                                <a href="http://{{ i.url }}">{{ i.name }}</a>
                            {% endfor %}
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Contact -->
                        <section class="widget links">
                            <h3 style="color: white;">CONTACT</h3>
                            <ul class="icons">
                                <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                                <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                            </ul>
                            <span style="color: white;">Address:&nbsp;</span><p style="color: #7e7e7e;">{{ com_info.addr }}</p>
                            <span style="color: white;">Tel:&nbsp;
                            <a>{{ com_message.tel }}</a>
                        </span>
                            <span style="color: white;">Email:&nbsp;
                            <a>{{ com_message.email }}</a>
                        </span>
                            <span style="color: white;">Website:&nbsp;
                            <a href="http://{{ com_message.web }}">{{ com_message.web }}</a>
                        </span>
                        </section>

                    </div>
                </div>

            </footer>
        </div>
    </div>
{% endblock %}
{% block left-content %}{% endblock %}
{% block js %}
    <script src="{% static 'JS/main_.js' %}"></script>
    <script>
        $(function () {
            $('.change_language').change(function (e) {
                e.preventDefault();
                $('#change_form').submit();
                return false;
            });
            $(document).ready(function () {
                $('#jsBtn').on('click', function () {
                    let name = $('#name').val();
                    let email = $('#email').val();
                    let country = $('#country').val();
                    let message = $('#message').val();
                    if (name === '' || email === '' || country === '' || message === '') {
                        alert('* Field is Required');
                        return;
                    }

                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "{% url 'other:contact' %}",
                        data: $('#jsForm').serialize(),
                        async: true,
                        success: function (data) {
                            if (data.status === 'success') {
                                $('#jsForm')[0].reset();
                                alert("{% trans 'We have received your message and will contact you as soon as possible.' %}")
                            } else if (data.status === 'fail') {
                                $('#jsCompanyTips').html(data.msg)
                            }
                        },
                    });
                });
            });
        })
    </script>
{% endblock %}
