{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {#    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>#}
</head>
<body>
<div id="features-wrapper" style="width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-4 col-12-medium" style="padding-left: 1px;">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="{% static 'images/pic01.jpg' %}"
                                                            alt=""/></a>
                    <div class="inner">
                        <header>
                            <h4>Put something here</h4>
                            <p>Maybe here as well I think</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed
                            semper amet bibendum tristique fringilla.</p>
                        <br>
                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="{% static 'images/pic02.jpg' %}"
                                                            alt=""/></a>
                    <div class="inner">
                        <header>
                            <h4>An interesting title</h4>
                            <p>This is also an interesting subtitle</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed
                            semper amet bibendum tristique fringilla.</p>
                    </div>
                </section>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="{% static 'images/pic03.jpg' %}"
                                                            alt=""/></a>
                    <div class="inner">
                        <header>
                            <h4>Oh, and finally ...</h4>
                            <p>Here's another intriguing subtitle</p>
                        </header>
                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed
                            semper amet bibendum tristique fringilla.</p>
{#                        <br>#}
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

{#<div id="features-wrapper">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-4 col-12-medium">#}
{##}
{#                <!-- Box -->#}
{#                <section class="box feature" style="border: 0;">#}
{#                    <a href="#" class="image featured"><img src="{% static 'images/pic01.jpg' %}"#}
{#                                                            alt=""/></a>#}
{#                    <div class="inner">#}
{#                        <header>#}
{#                            <h2>Put something here</h2>#}
{#                            <p>Maybe here as well I think</p>#}
{#                        </header>#}
{#                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed#}
{#                            semper amet bibendum tristique fringilla.</p>#}
{#                        <br>#}
{#                    </div>#}
{#                </section>#}
{##}
{#            </div>#}
{#            <div class="col-4 col-12-medium">#}
{##}
{#                <!-- Box -->#}
{#                <section class="box feature" style="border: 0;">#}
{#                    <a href="#" class="image featured"><img src="{% static 'images/pic02.jpg' %}"#}
{#                                                            alt=""/></a>#}
{#                    <div class="inner">#}
{#                        <header>#}
{#                            <h2>An interesting title</h2>#}
{#                            <p>This is also an interesting subtitle</p>#}
{#                        </header>#}
{#                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed#}
{#                            semper amet bibendum tristique fringilla.</p>#}
{#                    </div>#}
{#                </section>#}
{##}
{#            </div>#}
{#            <div class="col-4 col-12-medium">#}
{##}
{#                <!-- Box -->#}
{#                <section class="box feature" style="border: 0;">#}
{#                    <a href="#" class="image featured"><img src="{% static 'images/pic03.jpg' %}"#}
{#                                                            alt=""/></a>#}
{#                    <div class="inner">#}
{#                        <header>#}
{#                            <h2>Oh, and finally ...</h2>#}
{#                            <p>Here's another intriguing subtitle</p>#}
{#                        </header>#}
{#                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed#}
{#                            semper amet bibendum tristique fringilla.</p>#}
{#                        <br>#}
{#                    </div>#}
{#                </section>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

</body>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</html>