{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="lineMain" style="height:400px"></div>
<div id="mains" style="height:400px"></div>
<div id="echartsPie" style="height:400px;"></div>


<!-- ECharts单文件引入 -->
<script src="{% static 'js/echarts.min.js' %}"></script>
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>


<script type="text/javascript">
    var target = {{ data|safe }};
    let names = {{ name|safe }};
    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });
    // 使用
    require(
        [
            'echarts',
            'echarts/chart/bar',
            'echarts/chart/line'
        ],
        drawEcharts
    );

    function drawEcharts(ec) {
        drawLine(ec);
    }

    function drawLine(ec) {
        let myLineChart = ec.init(document.getElementById('lineMain'));
        let date_li = {{ date_li|safe }};
        let name = {{ name|safe }};
        let data1 = {{ data1|safe }};

        let myChart = echarts.init(document.getElementById('mains'));
        let data = {{ day_data|safe }};
        let day = {{ day|safe }};
        myChart.setOption({
            title: {
                text: '网站每日浏览次数'
            },
            tooltip: {},
            legend: {
                data: ['数量']
            },
            xAxis: {
                data: day
            },
            yAxis: {},
            series: [{
                name: '每日浏览次数',
                type: 'bar',
                data: data
            }]
        });


        // 动态push数据到series
        var series = [];
        for (var k = 0; k < data1.length; k++) {
            var item = {
                name: data1[k][0],
                type: 'line',
                data: data1[k],
            };
            series.push(item);
        }
        ;
        var option2 = {
            title: {
                text: '网站浏览情况',
                {#subtext: '近12个月渠道短信情况',#}
                {#sublink: sublink,#}
            },
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                y2: 80
            },
            legend: {
                orient: 'horizontal',
                y: 'bottom',
                data: data1,
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: date_li
                }
            ],
            yAxis: [
                {
                    type: 'value',
                }
            ],
            series: series,
        };
        myLineChart.setOption(option2, true);
    }

</script>

<script type="text/javascript">
    let myChart = echarts.init(document.getElementById('echartsPie'));
    var option = {
        title: {
            text: '网站访问设备',
            subtext: 'Test',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data: ['直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎']
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {
                    show: true,
                    type: ['pie', 'funnel'],
                    option: {
                        funnel: {
                            x: '25%',
                            width: '50%',
                            funnelAlign: 'left',
                            max: 1548
                        }
                    }
                },
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [
                    {value: 335, name: '直接访问'},
                    {value: 310, name: '邮件营销'},
                    {value: 234, name: '联盟广告'},
                    {value: 135, name: '视频广告'},
                    {value: 1548, name: '搜索引擎'}
                ]
            }
        ]
    };
    myChart.setOption(option, true);
</script>

</body>
</html>